# Python
__pycache__/
*.pyc
venv/
.env

# Model weights & datasets
*.pt
food-101/
food101_rebuilt/
*.tar.gz

# Node / React
node_modules/
build/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/
